@import '~ngx-toastr/toastr';

*{
    margin: 0;
    padding: 0;
}

.body{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    height: 100%;
    background-color: rgb(178, 178, 178);
}

.colorSite{
    background-color: rgb(2, 73, 173);
}

.colorTest{
    background-color: #80ff49;
}

.colorTest2{
    background-color: rgb(255, 44, 44);
}

.big-checkbox {
    width: 30px; 
    height: 30px;
}
